#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  /* text-align: center; */
}


.form-container{
  display: flex;
  flex-direction: column;
   width: 200px;
}
.form-container input{
  margin-bottom: 5px;
}